<%= stylesheet_link_tag 'wysiwyg-rails-cus/wysiwyg-rails' %>



    <div id="froala-editor" name="content"></div>
    <!--编辑器内容的缓存容器，由于服务器存储的编译后的html代码，需要先在此转换为标准的html的代码-->
    <textarea hidden id="content-stor"></textarea>

<script>
  //实例化编辑器
    $(function() {
        $('div#froala-editor').froalaEditor({
            language: 'zh_cn', /*中文*/
            height: 500, /*高度*/
            heightMin: 200, /*最低高度*/
            heightMax: 800   /*最高高度*/
        });
    })

</script>
<% if content.present? %>
    <script>
        //添加内容到编辑器中，必须要在编辑器实例话之后
        $(function(){
            content = "<%= content %>"
            var content_html_code = $('#content-stor').html(content).val()
            $('div#froala-editor').froalaEditor('html.set',content_html_code);
        })
    </script>
<% end %>
<script>
  //如果编辑器中存在内容，则将其赋予
  // id / class 为　sign的值
  //的元素的value
  // return 获取到的内容
  // or
  // return null
  function get_cus_content(sign){
      //获取editor中的源代码
      var editor_code = $('div#froala-editor').froalaEditor('html.get', true);
      if(editor_code!=""){
          $(sign).val(editor_code);
          $(sign).text(editor_code);
          return editor_code;
      }
      return false;
  }

  /*
  * 将获取editor内容的任务绑定到表单（form-sign）提交时间上
  *　表单在提交,如果编辑器中没有内容，则禁止提交
  *
  * form_sign 表单的标准，id / class
  * deposit_element 存储编辑器中内容待提交的元素，比如隐藏的input / textarea 的 id / class
  * */
  function form_submit_get_cus_content(form_sign,deposit_element){
      $(form_sign).submit(function(){
          if(get_cus_content(deposit_element)== true){
                return true;
          }else{
              alert('请不要提交空的内容！')
              return false;
          }

      })
  }

</script>

<%= javascript_include_tag 'cus-wysiwyg-rails/wysiwyg-rails' %>