// Place all the styles related to the blogs/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*= require froala_style.min.css
*/

input.blog-title{
  width: 700px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  outline:#00ff00 dotted thick;

}
label.title{
  margin-right: 30px;
}

//博客标题展示
.show-blog_title{
  .title{
    color: blue;
  }
}

@import "comments";
/*关于博客编辑页面中博客分类下拉列表的显示*/
.cus_select{
  width: 150px;
}