<%= stylesheet_link_tag params[:controller] %>
<div class="container about">
  <h1>站长简介</h1>
  <ul>

    <li>
      <dl>
        <dt>站长的身份</dt>
        <dd>网名： 源为简，1993， 男</dd>
      </dl>
    </li>
    <hr/>

    　
    <li>
      <dl>
        <dt>喜欢＆爱好</dt>
        <dd>
          <p>平时喜欢用手机看看网络小说，但感觉现在的小说写得好的越来越少了，所以看得也越来越少了。</p>
          <p>不但喜欢看小说还喜欢看书，经管，心理学，哲学，博弈论这些我都很感兴趣。因为买书看实在太贵，以前一直都
            是在手机上看pdf,后来感觉手机看书实在太伤眼睛，就买了一个kindle，现在一般都是在kindle上看书。
          </p>
        </dd>
      </dl>
    </li>
    <hr/>

    <li>
      <dl>
        <dt>价值观/哲学观/人生观</dt>
        <dd>
          <p>我一直相信，人与人的差距说大不大，说小不小,只是在这个年代，毕竟，这不是一个以个人武力为尊的社会，有差距但只是量变而已，如果再过几十年／几百年，
            或许会连差距有多大都搞不清楚吧。</p>
          <p>人人都想平等，公平，但在一个以众多的独立意识生命体并且还全都是同类构建的集合中，必然要分出一个三六九等来；高等的存在相对与低等的存在不过是更好的利用了
            人类社会的群体性而已。俗话说————人多力量大嘛！
          </p>
          <p>我相信，一切皆有可能。</p>
        </dd>
      </dl>
    </li>
    <hr/>

    <li>
      <dl>
        <dt>联系</dt>
        <dd>
          <ul>
            <li>QQ:   1158102125</li><br/>
            <li>Email: wzhjbfq@163.com </li>
          </ul>
        </dd>
      </dl>
    </li>

  </ul>
  <hr/>
  <!-- =============================-->
  <h1>网站介绍</h1>
  <ul>
    <li>
      <dl>
        <dt>这个网站有什么</dt>
        <dd>
          <p>从很久以前开始我就想单独建立自己的博客，为什么呢？虽然我平时很少在网络上写博客，但有时候我会把我的一些思想记录在笔记本上；主要是我感觉现在网络上的博客系统
            用起来实在不符合我的口味，用起来总是不舒服，感觉功能不适合我。</p>
          <p>比如说，因为经常记录一些日常想法，但随着时间的改变有点想法就会改变，理解就会改变，而普通的博客系统没有一个时候的方法让我去在网络上实现这个。</p>
          <p>虽然现在功能还不完善，但我会不断的更新系统的，平时可能会记录一些日常的想法在上面</p>
        </dd>
      </dl>
    </li>

    <li>
      <dl>
        <dt>本站源码</dt>
        <dd>
          　<!--git@OSC 项目外挂-->
          <div>
            <script src='http://git.oschina.net/xixiandhaha/kekekeke/widget_preview'></script>

            <style>
                .pro_name a{color: #4183c4;}
                .osc_git_title{background-color: #d8e5f1;}
                .osc_git_box{background-color: #fafafa;}
                .osc_git_box{border-color: #ddd;}
                .osc_git_info{color: #666;}
                .osc_git_main a{color: #4183c4;}
            </style>
          </div>
        </dd>
      </dl>
    </li>
  </ul>
  <hr/>
  <!-- =============================-->
  <h1>岁月变迁</h1>
  <ul>
    <li>
      <dl>
        <dt>2016-06-15</dt>
        <dd>
          <p>系统上线</p>
        </dd>
      </dl>
    </li>
  </ul>
</div>
